section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10vh;
    width: 100vw;
    font-size: 5rem;
    gap: 2rem;
    background-color: #111;
    padding: 1rem;
}
